    html {
        font-size: 16px;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #283136;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    image {
        width: 100%;
        height: auto;
    }

    .visually-hidden {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
    }

    .container {
        width: 100%;
        max-width: 1160px;
        margin: 0 auto;
        padding: 0 1.3rem;
    }

    /* Header
    =================================== */

    .main-header {
        padding-top: 50px;
        padding-bottom: 65px;
        background-color: #eeeeee;
    }

    .main-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-link:hover, .logo-link:focus {
        outline: none;
    }

    .logo-link:hover .logo-content, .logo-link:focus .logo-content {
        opacity: 0.6;
        outline: none;
    }

    .logo-link:active {
        opacity: 0.3;
    }

    /* Navigation
    =================================== */

    .nav-list {
        display: flex;
        list-style: none;
    }

    .nav-item {
        margin-right: 50px;
    }

    .nav-link, .user-link {
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
    }

    .user-link {
        position: relative;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
    }

    .user-link::before {
        position: absolute;
        top: 0;
        left: -25px;
        content: '';
        width: 15px;
        height: 15px;
        background-image: url('../img/svg/cart-icon.svg');
    }

    .nav-link:hover, .nav-link:focus, .user-link:hover, .user-link:focus {
        color: #fb565a;
        outline: none;
    }

    .nav-link:active, .user-link:active {
        color: rgba(0, 0, 0, 0.3)
    }

    .nav-link-current {
        position: relative;
    }

    .nav-link-current::after {
        position: absolute;
        left: 0;
        bottom: -15px;

        content: "";

        width: 75px;
        height: 2px;

        background-color: #fb565a;
    }

    /* Slider
    =================================== */

    .slider {
        margin-bottom: 80px;
        background-color: #eeeeee;
    }

    .slider .container {
        position: relative;
        display: flex;
    }

    .slider-text {
        max-width: 390px;
    }

    .slider-title {
        margin: 0 0 30px 0;
        color: #000;
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: bold;
    }

    .slider-subtitle {
        margin-bottom: 45px;
        color: #283136;
    }

    .btn {
        display: inline-block;
        max-width: 245px;
        margin-bottom: 80px;
        padding: 15px 55px;
        border: none;
        border-radius: 5px;
        font-size: inherit;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        background-color: #fb565a;
    }

    .btn:hover, .btn:focus {
        background-color: #e74246;
        outline: none;
    }

    .btn:active {
        background-color: #d7373b;
        color: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
    }

    .slider-image {
        position: absolute;
        bottom: 0;
        right: 20px;
    }

    /* Products
    =================================== */

    .products {
        position: relative;
        margin-bottom: 160px;
    }

    .main-page .products::after {
        position: absolute;
        left: 11%;
        bottom: -80px;
        content: "";
        width: 80%;
        height: 2px;
        background-color: #eeeeee;
    }

    .products-list {
        display: flex;
        justify-content: space-between;
    }

    .products-item {
        width: 100%;
        max-width: 300px;
        margin-right: 100px;
        list-style: none;
    }

    .products-img {
        margin-bottom: 25px;
    }

    .product-title {
        margin-bottom: 25px;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
    }

    .product-subtitle {
        margin-bottom: 35px;
        color: #283136;
    }

    .product-btn {
        margin: 0;
        padding: 12px 40px;
    }

    .product-btn-green {
        background-color: #00ca74;
    }

    .product-btn-yellow {
        background-color: #efc84a;
    }

    .product-btn-green:hover, .product-btn-green:focus {
        background-color: #00bc6c;
        outline: none;
    }

    .product-btn-green:active {
        background-color: #00aa62;
        box-shadow: inset 0 3px #009958;
    }

    .product-btn-yellow:hover, .product-btn-yellow:focus {
        background-color: #eab534;
        outline: none;
    }

    .product-btn-yellow:active {
        background-color: #e5a722;
        box-shadow: inset 0 3px #ce961f;
    }

    /* About
    =================================== */

    .about {
        position: relative;
        margin-bottom: 115px;
    }

    .container {
        display: flex;
    }

    .about::after {
        position: absolute;
        left: 10%;
        bottom: -80px;
        content: "";
        width: 80%;
        height: 2px;
        background-color: #eeeeee;
    }

    .left-column {
        width: 100%;
        max-width: 660px;
        margin-right: 95px;
    }

    .about-title {
        margin-bottom: 40px;
        color: #000;
        font-size: 2.7rem;
        line-height: 2.7rem;
        font-weight: 500;
    }

    .about-subtitle {
        margin-bottom: 50px;
        color: #283136;
    }

    .list-title {
        margin-bottom: 35px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
    }

    .list-item {
        position: relative;
        margin-bottom: 35px;
        list-style: none;
    }

    .list-item::after {
        position: absolute;
        bottom: 10px;
        left: -35px;
        content: "";
        width: 25px;
        height: 2px;
        background-color: #fb565a;
    }

    .right-column-flex {
        display: flex;
    }

    .right-column-title {
        margin-bottom: 55px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
    }

    .right-column-item {
        width: 100%;
        max-width: 120px;
    }

    .right-column-percent {
        font-size: 2.7rem;
        line-height: 0;
        color: #000;
        font-weight: 700;
    }

    /* Partners
    =================================== */

    .partners {
        position: relative;
        margin-bottom: 125px;
    }

    .partners::after {
        position: absolute;
        left: 10%;
        bottom: -45px;
        content: "";
        width: 80%;
        height: 2px;
        background-color: #eeeeee;
    }

    .partners .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1160px;
        padding: 0 30px;
    }

    .partners-item {
        max-width: 260px;
    }

    .partners-logo {
        opacity: 0.2;
    }

    .partners-link:hover, .partners-link:focus {
        outline: none;
    }

    .partners-link:hover .partners-logo, .partners-link:focus .partners-logo {
        opacity: 1;
    }

    .partners-link:active .partners-logo {
        opacity: 0.1;
    }

    /* Popaps
    =================================== */

    .popaps {
        position: relative;
    }

    .modal-map {
        width: 100%;
        min-height: 415px;
        margin-bottom: 70px;
    }

    .modal-map-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 415px;
    }

    .modal-adress {
        position: absolute;
        top: 55px;
        left: 140px;
        padding: 50px;
        background-color: #fff;
    }

    .adress-title {
        margin-bottom: 35px;
        color: #000;
        font-size: 1.125rem;
    }

    .adress-text {
        margin-bottom: 20px;
        font-style: normal;
        color: #666666;
    }

    .adress-phone {
        margin-bottom: 35px;
        font-style: normal;
        color: #666666;
    }

    .phone-link {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #666666;
    }

    .phone-link:hover, .phone-link:focus {
        color: #000;
    }

    .modal-btn {
        margin: 0;
    }

    /* Footer
    =================================== */

    .main-footer .container {
        display: flex;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .social {
        display: flex;
        width: 100%;
        max-width: 260px;
        margin-right: 60px;
    }

    .social-link {
        position: relative;
        width: 80px;
        height: 80px;
        margin-right: 10px;
        background-color: #eeeeee;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

    .social-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -7.5px;
        margin-left: -13px;
    }

    .social-icon-vk {
        margin-top: -7.5px;
        margin-left: -13px;
    }

    .social-icon-fb {
        margin-top: -11px;
        margin-left: -5px;
    }

    .social-icon-insta {
        margin-top: -10.5px;
        margin-left: -10.5px;
    }

    .social-link:hover, .social-link:focus {
        background-color: #e74246;
        outline: none;
    }

    .social-link:active {
        box-shadow: inset 0 3px #c13135;
    }

    .social-link:active path {
        fill-opacity: 0.3;
    }

    .sale {
        max-width: 560px;
    }

    .sale-title {
        margin: 0 0 10px 0;
        font-size: 2.25rem;
        font-weight: bold;
        color: #000;
    }

    .sale-text {
        margin: 0;
    }

    /* Стили для страницы каталога
    =================================== */

    /* Content-title
    =================================== */

    .content-title-container {
        width: 100%;
        margin-bottom: 65px;
        background-color: #eeeeee;
    }

    .content-title-text {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding-bottom: 120px;
        font-size: 3.45rem;
        font-weight: bold;
        color: #000;
    }

    /* filter-feature
    =================================== */

    .filter-feature {
        margin-right: 90px;
    }

    .filter-form {
        text-align: left;
    }

    .group-input {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        border: none;
    }

    .group-title {
        font-size: 1.125rem;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .group-input .radio-label, .group-input .checkbox-label {
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .group-input input[type="checkbox"], .group-input input[type="radio"] {
        display: none;
    }

    .radio-label {
        padding-left: 35px;
    }

    .radio-label svg{
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
    }

    .radio-label:hover path,
    .radio-label:focus path {
        fill: #4d4d4d;
        stroke: #4d4d4d ;
    }

    .checkbox-label {
        padding-left: 35px;
    }

    .checkbox-label svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 23px;
        height: 23px;
    }

    .checkbox-label:hover path,
    .checkbox-label:focus path,
    .checkbox-label:hover polygon,
    .checkbox-label:focus polygon {
        fill: #4d4d4d;
        stroke: #4d4d4d ;
    }

    .checkbox-label polygon {
        display: none;
    }

    input:checked + div polygon {
        display: block;
    }

    .form-btn {
        font: inherit;
        display: inline-block;
        max-width: 260px;
        margin-bottom: 1380px;
        padding: 20px 90px;
        border: none;
        border-radius: 5px;
        font-size: inherit;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        text-align: center;
    }

    .form-btn:hover, .form-btn:focus {
        outline: none;
        background-color: #dfdfdf;
    }

    .form-btn:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #d5d5d5;
        box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
    }

    /* products
    =================================== */

    .inner-page .products {
        width: 100%;
        max-width: 760px;
    }

    .products-filter {
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
    }

    .products-filter-title {
        margin: 0;
        font-size: 1.125rem;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
    }

    .products-filter-list {
        display: flex;
        width: 100%;
        max-width: 360px;
        margin: 0;
        list-style: none;
    }

    .products-filter-item {
        margin-right: 25px;
    }

    .products-filter-link {
        width: 100%;
        min-width: 60px;
        font-size: 0.875rem;
        color: rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        white-space: nowrap;
    }

    .products-filter-link.current-link {
        color: #000;
    }

    .products-filter-link:hover,
    .products-filter-link:focus {
        color: rgba(0, 0, 0, 0.6);
    }

    .products-filter-link:active {
        color: #000;
    }

    .products-filter-item:hover .current-link,
    .products-filter-item:focus .current-link {
        color: #000;
    }


    .products-filter-item:last-child {
        position: relative;
        margin-right: 80px;
    }

    .products-filter-item:last-child::before {
        position: absolute;
        content: '';
        top: 5px;
        right: -58px;
        width: 11px;
        height: 10px;
        background-image: url('../img/svg/black-triangle.svg');
        transform: rotate(180deg);
    }

    .products-filter-item:last-child::after {
        position: absolute;
        content: '';
        top: 5px;
        right: -78px;
        width: 11px;
        height: 10px;
        background-image: url('../img/svg/grey-triangle.svg');
    }

    /* filter-price
    =================================== */

    .filter-price {
        width: 100%;
        max-width: 265px;
        margin-bottom: 55px;
    }

    .group-price-input {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .price-label {
        margin-right: 10px;
        font-size: 1rem;
        color: #283136;
        text-transform: uppercase;
    }

    .price-input {
        width: 80px;
        height: 40px;
        margin-right: 35px;
    }

    .price-input {
        border: none;
        border-radius: 3px;
        background-color: #eeeeee;
    }

    .price-input::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #283136;
        text-align: center;
    }

    .price-input:hover, .price-input:focus {
        background-color: #dfdfdf;
        outline: none;
    }

    /* products-cards
    =================================== */

    .products-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 760px;
        position: relative;
    }

    .cards-container {
        position: relative;

        margin-right: 40px;
        margin-bottom: 70px;
        max-width: 360px;
        width: 100%;
    }

    .cards-container:nth-child(even) {
        margin-right: 0;
    }

    .cards-image {
        position: relative;
    }

    .image-header {
        max-width: 360px;
        position: absolute;
        left: 0;
        top: -40px;
    }

    .image-header-hover {
        z-index: 1;
        display: none;
    }

    .cards-container:hover .cards-description, 
    .cards-container:focus .cards-description {
        display: block;
    }

    .cards-container:hover .image-header-hover,
    .cards-container:focus .image-header-hover {
        display: block;
    }

    .cards-description {
        position: absolute;
        bottom: 7px;
        left: 0;

        display: none;
        width: 360px;
        height: 230px;
        padding-top: 30px;
        background-color: #eee;
        text-align: center;
    }

    .description-title {
        margin-bottom: 20px;
    }

    .description-text {
        margin-bottom: 30px;
    }

    .products-cards-btn {
        width: 200px;
        height: 50px;
        margin-bottom: 40px;
    }


        /* pagination
    =================================== */


    .pagination {
        display: flex;
        align-items: center;
    }

    .pagination-list {
        display: flex;
        margin: 0;
        padding: 0;
        margin-right: 10px;


        list-style: none;
    }


    .pagination-link {
        margin-right: 10px;
        padding: 20px 25px;
        border-radius: 5px;

        background-color: #eee;

        color: #000;
        font-size: 1rem;
        font-weight: 500;
    }

    .pagination-link:hover,
    .pagination-link:focus {
        background-color: #dfdfdf;
    }   

    .pagination-link:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #d5d5d5;
        box-shadow: inset 0 3px #bfbfbf;
    }

    .pagination-btn {
        margin-bottom: 0;
        padding: 17px 80px;

        background-color: #eeeeee;

        color: #000;
        font-size: 1rem;
        font-weight: 500;
    }

    .pagination-btn:hover,
    .pagination-btn:focus {
        background-color: #dfdfdf;
    }

    .pagination-btn:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #d5d5d5;
        box-shadow: inset 0 3px #bfbfbf;
    }


